@import 'tailwindcss';

@theme {
	/* DISPLAY FONTS */
	--font-regular: 'Poppins', sans-serif;
	--font-secondary: 'Anton', sans-serif;

	/* DISPLAY SIZES */
	--text-xs: clamp(0.75rem, 2.5vw, 1.125rem);
	--text-base: clamp(0.875rem, 2.5vw, 1.25rem);
	--text-sm: clamp(1.5rem, 2.5vw, 2.5rem);
	--text-md: clamp(1.5rem, 5vw, 3.75rem);
	--text-lg: clamp(2.5rem, 8vw, 5rem);
	--text-xl: clamp(4.375rem, 15vw, 8.75rem);

	/* DISPLAY COLORS */
	--color-primary: #4be36f;

	--color-light-100: #d8dfea;
	--color-light-200: #aaafb8;
	--color-light-300: #747b80;

	--color-dark-900: #0d0d0d;
	--color-dark-800: #191919;

	--leading-min: 0.85;
	--leading-base: 1.2;

	--tracking-min: 0.2em;
	--tracking-base: 0.35em;
}

:root {
	/* VARIABLES */
	--spacing-mb-header: 4.25rem;
	--spacing-desk-header: 6.5rem;

	--spacing-minwrap: 62.5rem;
	--spacing-wrap: 90rem;
}

@layer base {
	::selection {
		@apply bg-primary text-dark-900;
	}

	body {
		font-family: var(--font-regular);
		font-size: var(--text-base);
		color: var(--color-light-100);
		background-color: var(--color-dark-900);
	}

	button {
		cursor: pointer;
	}

	.wrapper {
		@apply max-w-[var(--spacing-wrap)] px-5 mx-auto;
	}

	.dynamic-content {
		@apply text-primary;
	}
}

@layer components {
	.home-title {
		@apply font-semibold uppercase tracking-base mb-5;
	}

	.spacing-block {
		@apply my-24 md:my-52;
	}

	.animation a {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 0px;
			height: 1px;
			border-radius: 2rem;
			transition: width 0.3s;

			@apply bg-primary;
		}

		&:hover:before {
			width: 100%;
		}
	}
}
