@import 'tailwindcss';

@theme {
	/* DISPLAY FONTS */
	--font-regular: 'Poppins', sans-serif;

	/* DISPLAY SIZES */
	--text-xs: 1.125rem;
	--text-base: 1.25rem;
	--text-md: 3.75rem;
	--text-lg: 5rem;
	--text-xl: 8.75rem;

	/* DISPLAY COLORS */
	--color-primary: #4be36f;

	--color-light-100: #d8dfea;
	--color-light-200: #aaafb8;
	--color-light-300: #747b80;

	--color-dark-900: #0d0d0d;
	--color-dark-800: #191919;

	--leading-base: 1.2;
}

:root {
	/* VARIABLES */
	/* --spacing-header: 8.375rem; */
	--spacing-wrap: 90rem;
}

@layer base {
	::selection {
		@apply bg-primary text-dark-900;
	}

	body {
		font-family: var(--font-regular);
		font-size: var(--text-base);
		color: var(--color-light-100);
		background-color: var(--color-dark-900);
	}

	.wrapper {
		@apply max-w-[var(--spacing-wrap)] px-5 mx-auto;
	}

	h2 {
		@apply font-semibold uppercase tracking-[0.35em] mb-5;
	}

	.dynamic-content {
		@apply text-primary;
	}
}
